// <span class="icon-check"><span class="path1"></span><span class="path2"></span></span>

.icon-check .path1:before {
  content: "\e900";
  color: #1aac19;
}
.icon-check .path2:before {
  content: "\e901";
  color: #fff;
  margin-left: -1em;
}


// &#xe900;&#xe901;
